.style {
    display: inline-block;
    border-radius: 2em;
    background-color: rgb(34, 151, 34);
    color: #fff;
    text-align: center;
    width: 5%;
    font-size: 16px;
  }

  .style:hover{
      background-color: aqua;
      color: black;
  }

  .header{
    color: #fff;
    background-color: royalblue;
    font-size: 30px;
  }

  .droppable{
      margin-left: 5%;
  }